/* LIBRERÍA PARA DISTINTOS BOTONES */

/* (Los colores se deben de cambiar para distintos estilos) */

/* btn-download */
.btn-download {
    padding: clamp(8px, 1vw, 12px);
    background-color: #4b0f5f;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear, filter 0.1s linear;
}

.btn-download:hover {
    transform: scale(1.01);
    background-color: #8919ae;
    box-shadow: 0 0 6px #b84de0, 0 0 12px rgba(137, 25, 174, 0.6), 0 0 24px rgba(137, 25, 174, 0.4);
}

.btn-download:active {
    transform: scale(1);
    filter: blur(1px);
}

.btn-download::after {
    content: "↓";
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    padding: clamp(4px, 0.5vw, 8px);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: opacity 0.3s linear, transform 0.3s linear, top 0.3s linear;
}

.btn-download:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    top: -25%;
    animation: btn-download 0.5s linear alternate infinite;
}

@keyframes btn-download {
    from {
        transform: translate(-50%, -50%);
    }

    to {
        transform: translate(-50%, -30%);
    }
}

/* Botón transparente con border incompletos */
.btn-transp-bord {
    padding: clamp(8px, 1vw, 12px);
    border-radius: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b8b8b8;
    border-left: 2px solid #8919ae;
    border-right: 2px solid #8919ae;
    transition: text-shadow 0.31s step-end, transform 0.15s linear, box-shadow 0.31s step-end;
}

.btn-transp-bord:hover {
    text-shadow: 0 0 4px #b84de0, 0 0 4px rgba(137, 25, 174, 0.6), 0 0 8px rgba(137, 25, 174, 0.4);
    box-shadow: var(--box-shadow-morado-neon);
}

.btn-transp-bord:active {
    transform: scale(0.89);
}

.btn-transp-bord::after,
.btn-transp-bord::before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #8919ae;
    transition: width 0.3s linear;
}

.btn-transp-bord::after {
    left: 0;
    top: 0;
}

.btn-transp-bord::before {
    right: 0;
    bottom: 0;
}

.btn-transp-bord:hover::after,
.btn-transp-bord:hover::before {
    width: 100%;
}