/* ESTILOS DE LA SECCIÓN INICIO */

/* Contenedor de contenido de inicio */
.cont-inicio {
    gap: var(--gap-lg);
    padding: var(--padding-lg);
}

/* Estilos del span saludo y nombre del h1 */
.saludo {
    font-size: var(--fs-md);
    font-weight: 700;
}

.nombre {
    color: var(--resaltado-primario);
}

/* Estilos del texto de las habilidades del encabezado */
#hab-cont-inicio {
    overflow: hidden;
    white-space: nowrap;
    font-size: var(--fs-md);
    padding: 0 4px 0 0;
    margin-left: clamp(20px, 2.5vw, 32px);
    color: var(--texto-secundario);
}

#hab-cont-inicio::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 100%;
    animation: parpadeo 0.8s linear infinite alternate;
}

/* Contenedor botón siguiente */
.cont-btn-hab {
    padding: 0 0 0 var(--padding-xl);
}

/* Contenedor de imagen y redes sociales */
.cont-img-red-social-inicio {
    gap: var(--gap-lg);
}

/* Contenedor imagen principal */
.cont-img-principal {
    width: 100%;
    max-height: 300px;
}

.cont-img-principal>img {
    max-width: 300px;
    height: 100%;
    border-radius: 150px;
}

/* ANIMACIONES */

/* Estilos del texto de las habilidades del encabezado */
@keyframes parpadeo {
    0% {
        background-color: var(--fondo-secundario);
    }

    100% {
        background-color: transparent;
    }
}

/* ANIMACIONES CON JAVASCRIPT */

/* Estilos del texto de las habilidades del encabezado */
.sig-hab {
    animation: sig-hab 1.5s linear alternate;
}

@keyframes sig-hab {
    0% {
        width: var(--ancho);
    }

    50% {
        width: 0;
    }

    100% {
        width: var(--ancho);
    }
}


/* ESTILOS RESPONSIVOS */

/* Móviles medianos */
@media screen and (max-width: 576px) {
    /* La mayoría de smartphones */

    /* Contenedor principal del inicio (header) */
    #inicio {
        padding: var(--padding-md);
    }

    /* Contenedor nav y contenedor ul */
    .cont-inicio {
        padding: var(--padding-xl) var(--padding-md);
    }
}