/* ESTILOS DE LA SECCIÓN SOBRE MÍ DE LA WEB (section) */

/* Contenedor de habilidades */
.contenedor-habilidades {
    padding: 20px;
    display: grid;
    gap: 10px;
}

.contenedor-habilidades .javascript {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url("../img/sobre\ mi/javascript.jpg");
    transition: all 3s;
}

.contenedor-habilidades .node {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url("../img/sobre\ mi/node.jpg");
}

.contenedor-habilidades .php {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url("../img/sobre\ mi/php.jpg");
}

.contenedor-habilidades .python {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url("../img/sobre\ mi/python.jpg");
}

.contenedor-habilidades .javascript,
.contenedor-habilidades .node,
.contenedor-habilidades .php,
.contenedor-habilidades .python {
    height: 250px;
    font-size: small;
    border-radius: 5px;
    transition: all 0.32s;
    box-shadow: 0 0 3px 1px rgb(22, 22, 22);
    background-position: center;
    background-size: cover;
    position: relative;
}

.contenedor-habilidades article h3 {
    color: var(--verde);
    padding: 10px;
    font-size: medium;
    opacity: 0.5;
    transition: opacity 0.21;
}

.contenedor-habilidades article p {
    color: var(--blanco);
    padding: 10px;
    font-weight: 900;
    font-size: small;
    opacity: 0.5;
    transition: opacity 0.21;
}

.boton-habilidades {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 35px);
    width: 70px;
    height: 15px;
    padding: 20px;
    color: var(--blanco);
    background-color: transparent;
    font-weight: 700;
    font-size: 15px;
    border: solid 2px var(--blanco);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all 0.21s linear;
}