/* ESTILOS DE LA SECCIÓN SOBRE MÍ DE LA WEB (section) */

/* Contenedor de habilidades */

/* Artículo sobre mi descripción */
#sobre-mi .secciones-y-articulos-contenedores article h2 {
    margin-bottom: 1rem;
}

#sobre-mi .secciones-y-articulos-contenedores article div {
    gap: 10px;
}

/* Tarjetas de presentación */
.card {
    background: -webkit-linear-gradient(90deg, #e8dfdf,#e8dfdf,#333333);
    background: linear-gradient(90deg, #e8dfdf,#e8dfdf,#333333);                                                             
    padding: 0 !important;
    border-radius: 3px;
    box-shadow: 5px 8px 5px 2px #111111;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.card::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: var(--gris);
    opacity: 0.5;
    position: absolute;
    bottom: -100px;
    left: -100px;
    transform: rotate(45deg);
    z-index: -1;
}

.card div,
.card div img {
    width: 100%;
    height: 200px;
}

.card h3 {
    font-size: x-large;
    font-weight: 900;
    color: var(--verde);
    position: relative;
}

.card h3::after {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    top: -2px;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: var(--negro);
    font-size: x-large;
    font-weight: 900;
    z-index: -1;
}

.card ul {
    padding: 5px;
    gap: 5px;
}

.card ul li,
.card ul li a {
    width: 30px;
    height: 30px;
}

.card ul li a img {
    width: 25px;
    height: 25px;
} 

.card p {
    font-size: smaller;
    padding: 5px 25px 5px 5px;
    color: var(--negro);
    font-weight: 900;
}

.card button {
    margin: 5px 10px;
}