/* ESTILOS EN ANIMACIONES PARA TODAS LAS SECCIONES */

/* scroll */
/* left */
/* 1. Definir la animación */
@keyframes translate-y-opacity-left {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 2. Aplicar la animación al elemento */
.translate-y-opacity-left {
  animation: translate-y-opacity-left 2s;
}

/* right */
/* 1. Definir la animación */
@keyframes translate-y-opacity-right {
  from {
    opacity: 0;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 2. Aplicar la animación al elemento */
.translate-y-opacity-right {
  animation: translate-y-opacity-right 1.5s;
}

/* top */
/* 1. Definir la animación */
@keyframes translate-y-opacity-top {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 2. Aplicar la animación al elemento */
.translate-y-opacity-top {
  animation: translate-y-opacity-top 2.3s;
}

/* bottom */
/* 1. Definir la animación */
@keyframes ranslate-y-opacity-bottom {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 2. Aplicar la animación al elemento */
.translate-y-opacity-bottom {
  animation: ranslate-y-opacity-bottom 2.2s;
}

/* INICIO (header) */

/* Artículo de publicidad aside */
.el-santuario-carnivoro:hover a,
.madre-tierra:hover a {
  transform: scale(1.021);
}

/* Lista de redes sociales */
.lista-redes-sociales > li > a:hover {
    transform: scale(1.2);
    background-color: var(--blanco);
}

/* Estilos del nav */
.link-nav:hover {
    transform: translateY(-3px);
    color: var(--negro);
    background-color: var(--blanco);
}

/* SOBRE MÍ (section) */

/* SOBRE MI (section) */
.contenedor-habilidades article:hover {
  transform: scale(1.05);
}

.contenedor-habilidades article:hover h3,
.contenedor-habilidades article:hover p {
    opacity: 1;
}

.contenedor-habilidades article:hover button {
  transform: scale(1.1);
  box-shadow: 0 0 3px 1px rgb(16, 15, 15);
  border-color: var(--verde);
  color: var(--verde);
  filter: drop-shadow(0 0 5px var(--verde)) drop-shadow(0 0 15px var(--verde)) drop-shadow(0 0 35px var(--verde)) hue-rotate(60deg);
  font-weight: 900;
  font-size: 18px;
  border-width: 3px;
}

.contenedor-habilidades article button:active {
  font-weight: 700;
  font-size: 15px;
  border-width: 2px;
  transform: scale(1);
}


.contenedor-habilidades .javascript:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0)), url("../img/sobre\ mi/javascript.jpg");
}

.contenedor-habilidades .node:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0)), url("../img/sobre\ mi/node.jpg");
}

.contenedor-habilidades .php:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0)), url("../img/sobre\ mi/php.jpg");
}

.contenedor-habilidades .python:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0)), url("../img/sobre\ mi/python.jpg");
}