/* ESTILOS EN ANIMACIONES PARA TODAS LAS SECCIONES */

/* scroll */
/* left */
/* 1. Definir la animación */
@keyframes translate-y-opacity-left {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 2. Aplicar la animación al elemento */
.translate-y-opacity-left {
  animation: translate-y-opacity-left 2s;
}

/* right */
/* 1. Definir la animación */
@keyframes translate-y-opacity-right {
  from {
    opacity: 0;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 2. Aplicar la animación al elemento */
.translate-y-opacity-right {
  animation: translate-y-opacity-right 1.5s;
}

/* top */
/* 1. Definir la animación */
@keyframes translate-y-opacity-top {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 2. Aplicar la animación al elemento */
.translate-y-opacity-top {
  animation: translate-y-opacity-top 2.3s;
}

/* bottom */
/* 1. Definir la animación */
@keyframes ranslate-y-opacity-bottom {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 2. Aplicar la animación al elemento */
.translate-y-opacity-bottom {
  animation: ranslate-y-opacity-bottom 2.2s;
}

/* Lista de redes sociales */
.lista-redes-sociales > li > a:hover {
    transform: scale(1.2);
    background-color: var(--blanco);
}

/* Botones */
button:hover {
  background-color: var(--blanco);
  color: var(--negro);
  transform: translateY(-3px);
}

/* INICIO (header) */

/* Artículo de publicidad aside */
.el-santuario-carnivoro:hover a,
.madre-tierra:hover a {
  transform: scale(1.021);
}

/* Estilos del nav */
.link-nav:hover {
    transform: translateY(-3px);
    color: var(--negro);
    background-color: var(--blanco);
}

/* SOBRE MÍ (section) */

/* Tarjetas de presentación */
.card:hover {
  transform: scale(1.02) translateY(-5px);
}