/* ESTILOS EN ANIMACIONES PARA TODAS LAS SECCIONES */

/* scroll */
/* 1. Definir la animación */
@keyframes translate-y-opacity-left {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 2. Aplicar la animación al elemento */
.translate-y-opacity-left {
  animation: translate-y-opacity-left linear 2s;
  animation-timeline: view(); /* Vincula al scroll */
  animation-range: entry 10% cover 40%; /* Cuándo animar */
}

/* INICIO (header) */
/* Lista de redes sociales */
.lista-redes-sociales > li > a:hover {
    transform: scale(1.2);
    background-color: var(--blanco);
}

/* Estilos del nav */
.link-nav:hover {
    transform: translateY(-3px);
    color: var(--negro);
    background-color: var(--blanco);
}

/* SOBRE MÍ (section) */


