/* ESTILOS RECICLADOS */

/* Encabezados after y before */
h1::after, 
h2::after {
    content: attr(data-text);
    padding: 1.5rem 1.5rem 1.5rem 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -50%;
    transform: scaleY(-1);
    filter: blur(1px);
    opacity: 0.4;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to bottom,rgba(0,0,0,0.4), rgba(0,0,0,0));
    pointer-events: none;
}

h1::before, 
h2::before {
    content: attr(data-text);
    color: var(--verde);
    z-index: -1;
    padding: 1rem 1.5rem 2rem 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -3px;
    top: -3px;
    filter: blur(2px);
    pointer-events: none;
}


/* Texto en contenedores span */
.texto-span-verde {
    color: var(--verde);
    font-weight: 900;
    font-size: x-large;
}

/* Contenedores de los artículos */
.secciones-y-articulos-contenedores {
    max-width: 1200px;
    padding: 1rem;
    margin: auto;
    gap: 10px;
}

/* Contenedores de texto y subtítulos */
.contenedor-de-contenido-articulo-subtitulos-texto {
    width: 90%;
    padding: 5px;
    text-align: center;
    background-color: var(--gris);
    margin: 8px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px #111;
}

/* Íconos variables dentro del texto, párrafos, títulos, etc */
.icono-variable, .icono-variable img {
    display: inline-block;
    width: 25px;
    height: 25px;
}

/* Redes sociales y sus botones */
.lista-redes-sociales {
    gap: 5px;
    padding-bottom: 5px;
}

.lista-redes-sociales > li, 
.lista-redes-sociales > li > a {
    border-radius: 3px;
    background-color: var(--gris);
}