/* ESTILOS RECICLADOS */

/* Encabezados after y before */
h1::after, 
h2::after {
    content: attr(data-text);
    padding: 1.5rem 1.5rem 1.5rem 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -40%;
    transform: scaleY(-1);
    filter: blur(1px);
    opacity: 0.4;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to bottom,rgba(0,0,0,0.4), rgba(0,0,0,0));
    pointer-events: none;
    z-index: -1;
}

/* Texto en contenedores span */
.texto-span-verde {
    color: var(--verde);
    font-weight: 900;
    font-size: xx-large;
}

/* Contenedores de los artículos */
.secciones-y-articulos-contenedores {
    max-width: 1200px;
    padding: 1rem;
    margin: auto;
    gap: 10px;
}

/* Dos columnas mínimo de 250 px */
.grid-2-columns-1fr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Redes sociales y sus botones */
.lista-redes-sociales {
    gap: 5px;
    padding-bottom: 5px;
}

.lista-redes-sociales > li, 
.lista-redes-sociales > li > a {
    border-radius: 3px;
    background-color: var(--gris);
}