/* ESTILOS UNIVERSALES PARA TODAS LAS ETIQUETAS, CLASES Y ID'S */

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    cursor: none;
}

:root {
    --blanco: #e8dfdf;
    --gris: #333;
    --verde: #1fbf1f;
    --negro: #222;
}


body {
    background-color: var(--negro);
    background-image: linear-gradient(to right, var(--gris) 1px, transparent 1px), linear-gradient(to bottom, var(--gris) 1px, transparent 1px);
    background-size: 40px 40px;
}

#inicio,
#sobre-mi,
#portafolio,
#servicios,
#contacto {
    width: 100%;
    min-height: 100vh;
    padding: 8rem 1rem;
    position: relative;
}

h1,
h2,
h3 {
    font-weight: 900;
    position: relative;
    font-size: 3rem;
}

h1, 
h2 {
    padding: 1rem 1.5rem 2rem 0;
}

h3 {
    padding: 10px;
}

h1,
h2,
h3,
p,
a,
button {
    color: var(--blanco);
}

button {
    border-radius: 2px;
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--gris);
    position: relative;
    transition: all 0.3s;
    display: block;
}

p {
    font-size: x-large;
}

a, button {
    transition: all 0.3s;
}

svg {
    z-index: -1;
}