/* ESTILOS UNIVERSALES PARA TODAS LAS ETIQUETAS, CLASES Y ID'S */

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    cursor: none;
}

:root {
    --blanco: #e8dfdf;
    --gris: #333;
    --verde: #1da21d;
    --filter-verde: drop-shadow(0 0 5px var(--verde)) drop-shadow(0 0 15px var(--verde)) drop-shadow(0 0 35px var(--verde)) hue-rotate(60deg);
    --negro: #222;
}


body {
    background-color: var(--negro);
    background-image: linear-gradient(to right, var(--gris) 1px, transparent 1px), linear-gradient(to bottom, var(--gris) 1px, transparent 1px);
    background-size: 40px 40px;
}

#inicio,
#sobre-mi,
#portafolio,
#servicios,
#contacto {
    width: 100%;
    min-height: 100vh;
    padding: 8rem 1rem;
    position: relative;
}

#sobre-mi {
    background-color: var(--gris);
}

h1,
h2,
h3 {
    font-weight: 900;
    position: relative;
    padding: 1rem 1.5rem 2rem 0;
    color: var(--blanco);
    z-index: 0;
}

h1, 
h2 {
    font-size: 3rem;
    margin-bottom: 3.5rem;
}

h3 {
    padding: 10px;
    font-size: x-large;
}

p,
a,
button {
    color: var(--blanco);
    font-size: large;
}

button {
    border-radius: 4px;
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--verde);
    position: relative;
    transition: all 0.3s;
    display: inline-block;
    margin: 5px 0;
    z-index: 0;
    overflow: hidden;
}

button::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    background-color: var(--blanco);
    left: -100%;
    top: 0;
    z-index: -1;
    transition: all 0.3s;
}

a, button {
    transition: all 0.3s;
}

svg {
    z-index: -1;
}