/* ESTILOS GENERALES PARA TODOS LOS ELEMENTOS */

/* Selector universal y todo el html */
*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: 1px solid red;
}

/* Secciones */
#inicio,
#sobre-mi,
#habilidades,
#portafolio,
#servicios,
#contacto {
    min-width: 100%;
    background-color: var(--fondo-primario);
    padding: var(--padding-xl);
    overflow: hidden;
}

/* Imágenes */
img {
    width: 100%;
    height: 100%;
}

/* Textos y encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Encabezados";
    padding: var(--padding-xl);
    line-height: 1.2;
    letter-spacing: 1.5px;
}

h1 {
    font-size: var(--fs-xl);
    color: var(--texto-primario);
    font-weight: 900;
}

h2 {
    font-size: var(--fs-xl);
    color: var(--resaltado-primario);
    font-weight: 900;
}

h3 {
    font-size: var(--fs-md);
    color: var(--texto-primario);
    font-weight: 700;
}

h4 {
    font-weight: 500;
    font-size: var(--fs-md);
    color: var(--resaltado-secundario);
}

h5,
h6 {
    font-weight: 400;
    font-size: var(--fs-sm);
    color: var(--resaltado-secundario);
}

p {
    font-family: "Texto-Secundario";
    font-size: var(--fs-body);
    color: var(--texto-secundario);
    padding: var(--padding-lg);
    cursor: text;
    letter-spacing: 2px;
    line-height: 1.5;
}

/* Botones y links */
button,
a {
    font-family: "Texto-Principal";
    color: var(--texto-secundario);
    font-size: var(--fs-sm);
    padding: var(--padding-xs);
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
}

/* strong, b e i */
strong {
    color: var(--resaltado-primario);
    font-weight: 900;
    font-family: "Encabezados";
}