/* LIBRERÍA DE GRID */

/* Colúmnas mínimo de 250 px con auto-fit (responsive básico) */
.grid-columns-minmax-250px-1fr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}