/* ANIMACIONES DEL NAV */

/* Links */
.links-nav:hover {
    color: var(--morado-2);
    text-shadow: var(--text-shadow-morado-neon);
    font-weight: 900;
}

#blog:hover {
    font-weight: 900;
    color: var(--morado-1);
    transform: scale(1.03);
}