/* ESTILOS DEL NAV (MENÚ DE NAVEGACIÓN) */

/* Contenedor nav y contenedor ul */
#nav {
    width: 2px;
    height: 90%;
    border-radius: 10px;
    top: 5%;
    left: 30px;
    background-color: var(--fondo-secundario);
    transform: translateX(-150%);
    z-index: var(--z-nav);
    gap: var(--gap-md);
}

#nav::before {
    content: "";
    width: clamp(18px, 1.5vw, 32px);
    height: clamp(18px, 1.5vw, 32px);
    border-radius: 50%;
    background-color: var(--fondo-secundario);
    position: absolute;
    bottom: -10px;
}

#nav>ul {
    height: 100%;
    width: 100%;
    gap: var(--gap-sm);
}

/* Links */
.links-nav {
    pointer-events: none;
    transform: scale(0);
    transition: transform 0.3s linear;
}

/* Imágenes de las secciones del nav */
.img-seccion-nav {
    width: clamp(24px, 2vw, 40px);
    height: clamp(24px, 2vw, 40px);
    background-color: var(--fondo-secundario);
    padding: 3px;
    border-radius: 50%;
    border: 2px solid var(--fondo-secundario);
    transition: box-shadow 0.3s linear, background-color 0.3s linear, transform 0.3s linear;
}

.img-blog {
    width: clamp(24px, 2vw, 40px);
    height: clamp(24px, 2vw, 40px);
    background-color: var(--texto-primario);
    padding: 3px;
    border-radius: 50%;
    border: 2px solid var(--fondo-secundario);
    transition: box-shadow 0.3s linear, background-color 0.3s linear, transform 0.3s linear;
}

/* ANIMACIONES */

/* Links */
.links-nav:hover {
    color: var(--morado-2);
    text-shadow: var(--text-shadow-neon);
    font-weight: 900;
}

/* Imágenes de las secciones del nav */
.img-seccion-nav:hover {
    transform: scale(1.08);
}

.img-blog:hover {
    background-color: var(--resaltado-secundario);
    transform: scale(1.07);
    box-shadow: var(--box-shadow-neon);
}

/* ANIMACIONES CON JAVASCRIPT */

/* Links */
.links-nav-pointer-events-true {
    /* Clase para activar los links */
    pointer-events: auto;
    transform: scale(1);
}

.links-nav-pointer-events-active {
    /* Clase para mostrar la sección actual */
    pointer-events: auto;
    transform: scale(1);
}

/* Imágenes y de las secciones del nav */
.img-seccion-nav-active {
    background: var(--gradient);
    box-shadow: var(--box-shadow-neon);
}

/* ESTILOS RESPONSIVOS */

/* Móviles medianos */
@media screen and (max-width: 576px) {
    /* La mayoría de smartphones */

    /* Contenedor nav y contenedor ul */
    #nav {
        left: 21px;
    }
}